

.container{
    max-width: fit-content;
}
.rod{
    margin-top: 100px;
}
.card{
    min-width: 450px;
    max-width: 1000px;
    height: 58rem;
    box-shadow: 9px 0 10px rgba(61, 58, 58, 0.5);
}
.card img{
    height: 450px;
}
input{
    min-width: 50px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}
